.mega_scaffold_container {
  padding-top: 20px;
}

.mega_scaffold_container .mega_scaffold_container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mega_scaffold_container .field_with_errors input,
.mega_scaffold_container .field_with_errors select,
.mega_scaffold_container .field_with_errors textarea {
  border: 1px solid red;
}

.mega_scaffold_container abbr {
  color: red;
  text-decoration: none;
}

.mega_scaffold_container table {
  width: 100%;
}

.mega_scaffold_container form .mega_scaffold_field_multiple label {
  padding-left: 5px;
  margin-right: 10px;
}

.mega_scaffold_container .pagination > * {
  margin-right: 10px;
}

.mega_scaffold_container .mega_scaffold_errors {
  font-size: 14px;
  color: red;
}

.mega_scaffold_container .mega_scaffold_errors h4 {
  font-size: 16px;
}